<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header card-header-text" data-background-color="blue">
          <h4 class="card-title">{{titulo}}</h4>
        </div>
        <div class="card-content">
          <form [formGroup]="micuentaFormGroup">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="form-group label-floating">
                      <label class="control-label">Email</label>
                      <input id="txtemail" formControlName="txtemail" class="form-control" type="text">
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="form-group label-floating input-group">
                      <label class="control-label">Contraseña</label>
                      <input id="txtpass" formControlName="txtpass" autocomplete="off" class="form-control" type="password">
                      <span class="input-group-addon" (click)="bloquearpass()">
                                            <i *ngIf="estadopass" class="fa fa-lock"></i>
                                            <i *ngIf="!estadopass" class="fa fa-unlock"></i>
                                        </span>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="form-group label-floating input-group">
                      <label class="control-label">Telefono</label>
                      <input id="txttelefono" formControlName="txttelefono" class="form-control" type="text">
                      <span class="input-group-addon" (click)="bloqueartelefono()">
                                            <i *ngIf="estadotel" class="fa fa-lock"></i>
                                            <i *ngIf="!estadotel" class="fa fa-unlock"></i>
                                        </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="form-group label-floating input-group">
                      <label class="control-label">Persona de Contacto</label>
                      <input id="txtpersonacontacto" formControlName="txtpersonacontacto" class="form-control"
                             type="text">
                      <span class="input-group-addon" (click)="bloquearpersonacontacto()">
                                            <i *ngIf="estadopersona" class="fa fa-lock"></i>
                                            <i *ngIf="!estadopersona" class="fa fa-unlock"></i>
                                        </span>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="form-group label-floating">
                      <label class="control-label">RUC</label>
                      <input id="txtruc" formControlName="txtruc" class="form-control" type="text">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group pull-right">
                      <button type="submit" class="btn btn-default blue" name="btnRegresar"> Regresar</button>
                      <button type="submit" class="btn btn-default blue" name="btnBuscar"> Guardar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
