.form-group{
  display: flex;
  align-items: center;
}
.btn-small{
  width: 1rem;
}
.highlight{
  background: #00bcd4;
  color: white;
}
.mat-header-cell,.mat-cell{
  margin: 0 0.6rem;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
.material-icons.color {
  color: #58a4fb;
}
.navbar.navbar-info {
  margin: 0 15px;
}
