.row {
  display: flex;
}
.row > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.dataTables_paginate {
  display: flex;
  justify-content: flex-end;
}

.dataTables_info{
  display: flex;
  justify-content: flex-start;
  text-align: center;
}

.pintarFila {
  color: #FFFFFF;
  background-color: #0079BF;
}

.subrayado {
  color: blue;
  cursor: pointer;
  text-decoration-line: underline;
}