<div class="main-content">
    <div class="container-fluid">
        <div class="row col-md-12">
            <div class="card">
                <div class="card-header card-header-text" data-background-text="blue">
                    <h4 class="card-title">Comprobante</h4>
                </div>
                <div class="card-content">
                    <a class="btn" (click)="irDocumentoRelacionado()">Documento Relacionado</a>
                    <br>
                    <a class="btn" (click)="irVistaPrevia()">Vista Previa</a>
                    <br>
                    <a class="btn" (click)="irAgregarServicio()">Crear Servicio</a>
                    <br>
                    <a class="btn" (click)="irEditarServicio()">Editar Servicio</a>
                    <br>
                    <a class="btn" (click)="irAgregarBien()">Crear Bien</a>
                    <br>
                    <a class="btn" (click)="irEditarBien()">Editar Bien</a>
                    <button class="btn" (click)="verProductos()">VER PRODUCTOS</button>
                </div>
            </div>
        </div>
    </div>
</div>