<div class="wrapper wrapper-full-page login">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <nav class="navbar navbar-primary navbar-transparent navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-example">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="/#/dashboard"></a>
      </div>
      <div class="collapse navbar-collapse" id="menu-example">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a routerLink="../dashboard">
              <i class="material-icons">dashboard</i> Dashboard
            </a>
          </li>
          <li class="">
            <a routerLink="#">
              <i class="material-icons">person_add</i> Registrarse
            </a>
          </li>
          <li class=" active ">
            <a routerLink="../login">
              <i class="material-icons">fingerprint</i> Iniciar Sesión
            </a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <div class="full-page login-page" filter-color="black" data-image="assets/img/login2.jpg">
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="content">
      <div class="container">
        <div class="main-content">
          <div class="container-fluid">
            <div class="row col-md-12">
              <div class="card">
                <div class="card-header card-header-text" data-background-color="blue">
                  <h4 class="card-title">{{'consultasCliente' | translate}}</h4>
                </div>
                <div class="card-content">
                  <form [formGroup]="consultaFormGroup" (ngSubmit)="buscar()" novalidate autocomplete="off">
                    <div class="row">
                      <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="form-group label-floating">
                          <label class="control-label">{{'tipoComprobante' | translate}}
                            <span class="star">*</span>
                          </label>
                          <select id="cmbTipoComprobante" name="cmbTipoComprobante" formControlName="cmbTipoComprobante" class="form-control" (change)="setTipoDocumento()">
                            <option *ngFor="let tipoComprobante of tiposComprobantes | async" [value]="tipoComprobante.codigo">
                              {{tipoComprobante.descripcionLarga | translate}}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="form-group label-floating">
                          <label class="control-label">{{'tipoDocumentoReceptor' | translate}}
                            <span class="star">*</span>
                          </label>
                          <select id="cmbTipoDocumento" name="cmbTipoDocumento" formControlName="cmbTipoDocumento" class="form-control" (change)="setFormatoDocumento()">
                            
                            <option [value]="-1" disabled>{{'seleccioneTipoDocumento' | translate}}</option>
                            <option *ngFor="let tipoDocumento of tiposDocumentos | async" [value]="tipoDocumento.codigo">
                              {{tipoDocumento.descripcionLarga}}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="form-group label-floating">
                          <label class="control-label">{{'numeroTipoDocumentoReceptor' | translate}}
                            <span class="star">*</span>
                          </label>
                          <input tipoDocumentoDirective [size]="tamanioTipoDocumento" [formato]="formatoTipoDocumento" id="txtNumeroDocumento" type="text"
                            name="txtNumeroDocumento" formControlName="txtNumeroDocumento" class="form-control" value="">
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="form-group label-floating">
                          <label class="control-label">{{'numeroDeSerie' | translate}}
                            <span class="star">*</span>
                          </label>
                          <input  tipoDocumentoDirective [size]="4" [formato]="1" id="txtSerie" name="txtSerie" type="text" formControlName="txtSerie" class="form-control" >
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="form-group label-floating">
                          <label class="control-label">{{'numeroCorrelativo' | translate}}
                            <span class="star">*</span>
                          </label>
                          <input correlativoDirective id="txtNumeroCorrelativo" name="txtNumeroCorrelativo" type="text" formControlName="txtNumeroCorrelativo"
                            class="form-control">
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="form-group label-floating">
                          <label class="control-label">{{'importeTotal' | translate}}
                            <span class="star">*</span>
                          </label>
                          <input precioDirectiva id="txtImporteTotal" name="txtImporteTotal" type="text" formControlName="txtImporteTotal" class="form-control">
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="form-group label-floating">
                          <label class="control-label">{{'fechaEmision' | translate}}
                            <span class="star">*</span>
                          </label>
                          <input id="dateFechaEmisionDel" type="text" name="dateFechaEmisionDelv" formControlName="dateFechaEmisionDel" class="form-control" datepicker/>
                          <span *ngIf="consultaFormGroup.controls['dateFechaEmisionDel'].hasError('errorFecha')" class="text-danger">{{consultaFormGroup.controls['dateFechaEmisionDel'].getError('errorFecha') | translate}}</span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group pull-right">
                          <button type="submit" class="btn btn-default blue" [disabled]="!consultaFormGroup.valid" name="btnBuscar" >{{'buscar' | translate}}</button>
                          <button type="button" class="btn btn-default blue" name="btnLimpiar" (click)="limpiar()">{{'limpiar' | translate}}</button>
                          <button type="button" class="btn btn-default blue" name="btnRegresar" (click)="regresar()">{{'regresar' | translate}}</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>

                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header card-header-icon" data-background-color="blue">
                      <span class="input-group-addon">
                        <i class="fa fa-list-ul fa-1x fa-inverse"></i>
                      </span>
                    </div>
                    <div class="row">
                      <h3 style="margin: 0">{{'listaComprobantes' | translate}}</h3>
                    </div>
                    <div class="row">
                      <p>&nbsp;</p>
                    </div>
                    <nav class="navbar navbar-info" role="navigation"></nav>
                    <div class="row">
                      <p>&nbsp;</p>
                    </div>
                    <app-data-table (iniciarData)="iniciarData($event)" (accion)="ejecutarAccion($event)"
                      #tablaComprobanteCliente
                      [idTabla]="'tablaComprobanteCliente'"                 
                      [ordenarPorElCampo]="'tsFechaemision'"
                      [columnas]="columnasTabla"
                      [acciones]="AccionesConsultaComprobante"
                      [habilitarAcciones]="true"
                      [tipoAccion]="tipoAccion"
                      [nombreIdDelItem]="'inIdcomprobantepago'"
                      [ordenarPorElCampo]="'inIdcomprobantepago'"
                      [usaServicio]="true"
                      [servicio]="_comprobantesCliente"
                      [parametros]="parametrosConsulta"
                      [tipoAtributoServicio]="tipoConsultaGeneral"
                      [urlServicio]="urlConsulta">
                    </app-data-table>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
