<div class="card">
  <div class="card-header card-header-text" data-background-color="blue">
    <h4 class="card-title">{{'vistaPrevia' | translate}}</h4>
  </div>
  <div class="card-content">
    <!-- <div class="row">
      <div class="col-md-4">
        <label>
          <h5>
            <b *ngIf="notaCredito.documentoEntidad[0]">{{notaCredito.documentoEntidad[0].denominacion}}</b>
          </h5>
        </label>
      </div>
      <div class="col-md-4 col-md-offset-4">
        <div class="row">
          <div class="col-md-4">
            <label>
              <h4>
                <b>{{'ruc' | translate}}:</b>
              </h4>
            </label>
          </div>
          <div class="col-md-8">
            <label>
              <h5 *ngIf="notaCredito.documentoEntidad[0]">{{notaCredito.documentoEntidad[0].documento}}</h5>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label>
          <h5>
            <b *ngIf="notaCredito.documentoEntidad[0]">{{notaCredito.documentoEntidad[0].direccionFiscal}}</b>
          </h5>
        </label>
      </div>
      <div class="col-md-4 col-md-offset-4">
        <label>
          <h3>
            <b>{{tituloComprobante | translate | uppercase}}</b>
          </h3>
        </label>
      </div>
    </div> -->
    <div class="row">
        <div class="col-md-4 left">
              <!-- <div *ngIf="urlLogo != ''" class="logoVisualizar">
                <img src="{{urlLogo}}">
              </div> -->
          <label>
            <!-- Razon Social Proveedor -->
            <b *ngIf="notaCredito.documentoEntidad[0]">{{notaCredito.documentoEntidad[0].denominacion}}</b>
          </label>
          <br>
          <label>
            <!-- Direccion Proveedor -->
            <b>{{notaCredito.documentoEntidad[0].direccionFiscal}}</b>
          </label>
        </div>
        <div class="col-md-4 col-md-offset-4 center">
          <div class="col-md-12 borde-simple">
            <label>
              <!-- RUC + Número de Ruc -->
              <b>{{'rucNumero'| translate}}: {{notaCredito.documentoEntidad[0].documento}}</b>
            </label>
            <br>
            <label>
              <!-- Comprobante Electronico -->
              <b>{{'notaCredito' | translate | uppercase}} {{'baseComprobanteElectronica' | translate | uppercase}}</b>
            </label>
            <br>
            <label>
              <!-- Serie Label + Serie -->
              <b>{{'serie'| translate}}: {{notaCredito.numeroComprobante}}</b>
            </label>
          </div>
        </div>
      </div>
    <br>
    <!-- <div class="row">
      <div class="col-md-4 col-md-offset-8">
        <div class="row">
          <div class="col-md-4">
            <label>
              <h3>
                <b>{{'serie' | translate}}:</b>
              </h3>
            </label>
          </div>
          <div class="col-md-8">
            <label>
              <h3>{{notaCredito.numeroComprobante}}</h3>
            </label>
          </div>
        </div>
      </div>
    </div> -->
    <br>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <label>
              <b>{{'seniorSeniors' | translate}}:</b>
            </label>
          </div>
          <div class="col-md-6">
            <label *ngIf="notaCredito.documentoEntidad[1]">{{notaCredito.documentoEntidad[1].denominacion}}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <label>
              <b>{{'ruc' | translate}}:</b>
            </label>
          </div>
          <div class="col-md-6">
            <label *ngIf="notaCredito.documentoEntidad[1]">{{notaCredito.documentoEntidad[1].documento}}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <label>
              <b>{{'domicilioFiscal' | translate}}:</b>
            </label>
          </div>
          <div class="col-md-6">
            <label *ngIf="notaCredito.documentoEntidad[1]">{{notaCredito.documentoEntidad[1].direccionFiscal}}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <label>
              <b>{{'fechaEmision' | translate}}:</b>
            </label>
          </div>
          <div class="col-md-6">
            <label>{{formatoFechaEmision}}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <label>
              <b>{{'tipoMoneda' | translate}}:</b>
            </label>
          </div>
          <div class="col-md-6">
            <label>{{notaCredito.moneda}}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <label>
              <b>{{'tipoNotaCredito' | translate}}:</b>
            </label>
          </div>
          <div class="col-md-6">
            <label>{{tipoNotaComprobante | uppercase}}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <label>
              <b>{{'motivoSustento' | translate}}:</b>
            </label>
          </div>
          <div class="col-md-6">
            <label>{{notaCredito.motivoComprobante}}</label>
          </div>
        </div>
      </div>
    </div>
    <br>
    <app-data-table
      #tablaVistaPrevia
      (iniciarData)="iniciarDataTable($event)"
      [idTabla]="'tablaVistaPrevia'"
      [columnas]="columnasTabla"
      [ordenarPorElCampo]="ordenarPorElCampo"
    ></app-data-table>
    <br>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <label>
              <b>{{'observaciones' | translate}}:</b>
            </label>
          </div>
          <div class="col-md-6">
            <label>{{notaCredito.observacionComprobante}}</label>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-2 col-md-offset-5">
        <label>
          <b>{{'importeTotal' | translate}}:</b>
        </label>
      </div>
      <div class="col-md-5">
        <label>{{notaCredito.totalComprobante}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-5">
        <label>
          <b>{{'montoEnLetras' | translate}}:</b>
        </label>
      </div>
      <div class="col-md-5">
        <label>{{totalEnPalabras | uppercase}}</label>
      </div>
    </div>
    <br>
    <br>
  </div>
  <div class="row">
    <div class="col-md-12" align="right">
      <button name="btnRegresar" type="button" class="btn btn-default" style="right: 15px;" (click)="regresar()">
        {{'regresar' | translate}}
      </button>
      <button name="btnEmitir" type="button" class="btn btn-default" style="right: 15px;" (click)="emitir()">
        {{'emitir' | translate}}
      </button>
    </div>
  </div>
</div>
