<div class="card">
  <div class="card-header card-header-text" data-background-color="blue">
    <h4 class="card-title">{{titulo | translate}}</h4>
  </div>
  <div class="card-content">
    <form [formGroup]="notaDeCreditoFormGroup" (ngSubmit)="vistaPrevia()" autocomplete="off">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group label-floating">
            <label class="control-label">{{'tipoComprobante' | translate}}<span class="star">*</span></label>
            <select id="cmbTipoComprobante"
                    name="cmbTipoComprobante"
                    formControlName="cmbTipoComprobante"
                    class="form-control"
                    (change)="cambioTipoComprobante()">
              <option *ngFor="let tipoComprobante of tiposDeComprobantes | async" [value]="tipoComprobante.codigo">
                {{tipoComprobante.descripcionLarga | translate}}
              </option>
            </select>
            <div class="row" *ngIf="!notaDeCreditoFormGroup.get('cmbTipoComprobante').valid && notaDeCreditoFormGroup.get('cmbTipoComprobante').touched">
              <div class="col-md-12">
                <span *ngIf="notaDeCreditoFormGroup.get('cmbTipoComprobante').hasError('required')"
                    class="text-danger">{{'campoRequerido' | translate}}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group label-floating">
            <label id="lblSerie" class="control-label">{{'serieComprobante' | translate}}<span class="star">*</span></label>
            <select type="text"
                    id="cmbSerieComprobante"
                    formControlName="cmbSerieComprobante"
                    (change)="limpiar()"
                    class="form-control">
              <option *ngFor="let serieComprobante of seriesComprobante | async" [ngValue]="serieComprobante.serie">{{serieComprobante.serie}}</option>
            </select>
            <div class="row" *ngIf="!notaDeCreditoFormGroup.get('cmbSerieComprobante').valid && notaDeCreditoFormGroup.get('cmbSerieComprobante').touched">
              <div class="col-md-12">
                <span *ngIf="notaDeCreditoFormGroup.get('cmbSerieComprobante').hasError('required')"
                      class="text-danger">{{'campoRequerido' | translate}}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group label-floating">
            <label id="lblCorrelativo" class="control-label">{{'correlativoComprobante' | translate}}<span class="star">*</span></label>
            <input  type="text"
                    id="txtCorrelativoComprobante"
                    formControlName="txtCorrelativoComprobante"
                    correlativoDirective
                    (change)="limpiar()"
                    class="form-control">
            <div class="row" *ngIf="!notaDeCreditoFormGroup.get('txtCorrelativoComprobante').valid && notaDeCreditoFormGroup.get('txtCorrelativoComprobante').touched">
              <div class="col-md-12">
                <span *ngIf="notaDeCreditoFormGroup.get('txtCorrelativoComprobante').hasError('required')"
                      class="text-danger">{{'campoRequerido' | translate}}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <button id="btnBuscar" type="button" class="btn btn-xs btn-default"
                    (click)="buscarComprobante()"
                    [disabled]="!(notaDeCreditoFormGroup.get('cmbSerieComprobante').valid && notaDeCreditoFormGroup.get('txtCorrelativoComprobante').valid)">
              <span class="btn-label">
                  <i class="material-icons">search</i>
              </span>
              {{'buscar' | translate}}
            </button>

            <button id="btnVisualizar" type="button" class="btn btn-xs btn-default"
                    (click)="visualizarComprobanteReferencia()"
                    [disabled]="!(escogioUnComprobante | async)">
              <span class="btn-label ">
                  <i class="material-icons">visibility</i>
              </span>
              {{'ver' | translate}}
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="form-group label-floating">
            <label class="control-label">{{'serieNotaCredito' | translate}}<span class="star">*</span></label>
            <select id="cmbSerie"
                    name="cmbSerie"
                    formControlName="cmbSerie"
                    class="form-control">
              <option [value]="-1" disabled>{{'seleccioneUnaSerie' | translate}}</option>
              <option *ngFor="let serie of series | async" [value]="serie.idSerie">
                {{serie.serie}}
              </option>
            </select>
            <div class="row" *ngIf="!notaDeCreditoFormGroup.get('cmbSerie').valid && notaDeCreditoFormGroup.get('cmbSerie').touched">
              <div class="col-md-12">
                <span *ngIf="notaDeCreditoFormGroup.get('cmbSerie').hasError('required')"
                      class="text-danger">{{'campoRequerido' | translate}}
                </span>
                <span *ngIf="notaDeCreditoFormGroup.get('cmbSerie').hasError('seleccioneUnaSerie')"
                      class="text-danger">{{'seleccioneUnaSerie' | translate}}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group label-floating">
            <label class="control-label">{{'tipoNotaCredito' | translate}}<span class="star">*</span></label>
            <select id="cmbTipoNotaCredito"
                    name="cmbTipoNotaCredito"
                    formControlName="cmbTipoNotaCredito"
                    class="form-control"
                    (change)="cambioTipoNotaCredito()">
              <option disabled [value]="-1">{{'seleccioneUnTipoDeNotaDeCredito' | translate}}</option>
              <option *ngFor="let tipoDeNotaDeCredito of tiposDeNotasDeCreditos | async" [value]="tipoDeNotaDeCredito.codigo_dominio">
                {{tipoDeNotaDeCredito.descripcion_dominio | translate}}
              </option>
            </select>
            <div class="row" *ngIf="!notaDeCreditoFormGroup.get('cmbTipoNotaCredito').valid && notaDeCreditoFormGroup.get('cmbTipoNotaCredito').touched">
              <div class="col-md-12">
                  <span *ngIf="notaDeCreditoFormGroup.get('cmbTipoNotaCredito').hasError('required')"
                        class="text-danger">{{'campoRequerido' | translate}}
                  </span>
                <span *ngIf="notaDeCreditoFormGroup.get('cmbTipoNotaCredito').hasError('seleccioneUnTipoDeNotaDeCredito')"
                      class="text-danger">{{'seleccioneUnTipoDeNotaDeCredito' | translate}}
                  </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group label-floating">
            <label class="control-label">{{'documento' | translate}}</label>
            <input type="text" class="form-control"
                   id="txtDocumento"
                   formControlName="txtDocumento">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group label-floating">
            <label class="control-label">{{'razonSocial' | translate}}</label>
            <input type="text" class="form-control"
                   id="txtRazonSocial"
                   formControlName="txtRazonSocial">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group label-floating">
            <label class="control-label">{{'tipoMoneda' | translate}}</label>
            <input type="text" class="form-control"
                   id="txtMoneda"
                   formControlName="txtMoneda">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group label-floating">
            <label id="lblMotivo" class="control-label">{{'motivoNotaDeCredito' | translate}}<span class="star">*</span></label>
            <textarea class="form-control" type="text" formControlName="txtMotivoNotaCredito" rows="3"></textarea>
            <div class="row" *ngIf="!notaDeCreditoFormGroup.get('txtMotivoNotaCredito').valid && notaDeCreditoFormGroup.get('txtMotivoNotaCredito').touched">
              <div class="col-md-12">
                <span *ngIf="notaDeCreditoFormGroup.get('txtMotivoNotaCredito').hasError('maxlength')"
                      class="text-danger">{{'maximoCaracteres' | translate: {digito: 250} }}
                </span>
                <span *ngIf="notaDeCreditoFormGroup.get('txtMotivoNotaCredito').hasError('required')"
                      class="text-danger">{{'campoRequerido' | translate}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-container [ngSwitch]="habilitarPorTipoDeNotaDeCredito">
        <ng-container *ngSwitchCase="TiposVistasNotaCredito.NORMAL">
          <app-tipo-nota-credito-normal
            #tipoVistaNormalNotaCredito
            [padreFormGroup] = "notaDeCreditoFormGroup"
            [nombreControl] = "controlNameVistaNormal"
          >
          </app-tipo-nota-credito-normal>
        </ng-container>
        <ng-container *ngSwitchCase="TiposVistasNotaCredito.TABLA">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="blue">
              <i class="material-icons">list</i>
            </div>
            <div class="row"><h3>{{'listaItems' | translate}}</h3></div>
            <div class="row"><p>&nbsp;</p></div>
            <nav class="navbar navbar-info" role="navigation"></nav>
            <div class="card-content">
              <app-tipo-nota-credito-datatable
                #tipoVistaTablaNotaCredito
                (estaValidadoNotaCreditoDataTable)="estaValidadoNotaCreditoDataTable($event)"
                (seInicio)="seInicioDataTable($event)"
              >
              </app-tipo-nota-credito-datatable>
            </div>
          </div>
        </ng-container>
      </ng-container>

      <div class="row">
        <div class="col-md-12">
          <div class="label-floating">
            <label class="control-label">{{'observaciones' | translate}}</label>
            <textarea id="txtObservacion" name="txtObservacion" formControlName="txtObservacionesNotaCredito" class="form-control" rows="3"></textarea>
            <div class="row" *ngIf="!notaDeCreditoFormGroup.get('txtObservacionesNotaCredito').valid && notaDeCreditoFormGroup.get('txtObservacionesNotaCredito').touched">
              <div class="col-md-12">
                <span *ngIf="notaDeCreditoFormGroup.get('txtObservacionesNotaCredito').hasError('maxlength')"
                      class="text-danger">{{'maximoCaracteres' | translate: {digito: 250} }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row pull-right">
        <div class="col-md-12">
          <button id="btnVistaPrevia" type="submit" class="btn btn-default"
                  [disabled]="!(notaDeCreditoFormGroup.valid && esValidadoDataTableNotaCredito && (escogioUnComprobante | async))">
            {{'vistaPrevia' | translate}}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
