<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header card-header-text" data-background-color="blue">
                        <h4 class="card-title">{{'bitacora' | translate}}</h4>
                    </div>
                    <div class="card-content">
                        <form [formGroup]="bitacoraFormGroup">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">{{'numeroComprobante' | translate}}
                                            <span class="star">*</span>
                                        </label>
                                        <input id="txtComprobante" formControlName="txtComprobante" class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">{{'generado' | translate}}
                                            <span class="star">*</span>
                                        </label>
                                        <select name="cmbGenerado" formControlName="cmbGenerado" class="form-control">
                                            <option *ngFor="let generado of tiposSincronizacion" [value]="generado.idTipo"> {{generado.tipo}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">{{'estadoDocumento' | translate}}
                                            <span class="star">*</span>
                                        </label>
                                        <select name="cmbEstadoDocumento" formControlName="cmbEstadoDocumento" class="form-control">
                                            <option *ngFor="let estado of estadosDocumentos" [value]="estado.idEstadoComprobante"> {{estado.abreviacion}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">{{'fechaSincronizacion' | translate}} {{'del' | translate}}
                                            <span class="star">*</span>
                                        </label>
                                        <input id="datefechaInicio" formControlName="datefechaInicio" type="text" class="form-control" datepicker/>
                                        <span *ngIf="!bitacoraFormGroup.get('datefechaInicio').valid && bitacoraFormGroup.get('datefechaInicio').touched">
                                            <span *ngIf="bitacoraFormGroup.controls['datefechaInicio'].hasError('required')" class="text-danger">{{'campoRequerido' | translate}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">{{'a' | translate}}
                                            <span class="star">*</span>
                                        </label>
                                        <input id="datefechaFin" formControlName="datefechaFin" type="text" class="form-control" datepicker/>
                                        <span *ngIf="!bitacoraFormGroup.get('datefechaFin').valid && bitacoraFormGroup.get('datefechaFin').touched">
                                            <span *ngIf="bitacoraFormGroup.controls['datefechaFin'].hasError('required')" class="text-danger">{{'campoRequerido' | translate}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">{{'estadoSincronizacion' | translate}}
                                            <span class="star">*</span>
                                        </label>
                                        <select id="cmbEstadoSincronizacion" name="cmbEstadoSincronizacion" formControlName="cmbEstadoSincronizacion" class="form-control">
                                            <option *ngFor="let estado of estadosSincronizacion" [(value)]="estado.idEstado"> {{estado.estado}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-default" (click)="buscar()">Buscar</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label style="color:red">{{mensaje}}</label>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-content">
                                        <app-data-table #tablaNormal 
                                            [idTabla]="'tablaBitacora'" 
                                            [columnas]="columna" 
                                            [usaServicio]="true"
                                            [servicio]="sincronizacionService"
                                            [parametros]="parametros"
                                            [tipoAtributoServicio]="tipoAtributos"
                                            [ordenarPorElCampo]="'Fecha'"
                                            [urlServicio]="urlSincronizado"
                                            (iniciarData)="iniciarData($event)"
                                            >
                                        </app-data-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <!--
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-header card-header-text" data-background-color="blue">
                                        <h4 class="card-title">{{'leyenda' | translate}}</h4>
                                    </div>
                                    <div class="card-content">
                                        <div class="col-lg-2">
                                            <label style="color:green">
                                                <i class="material-icons">fiber_manual_record</i>
                                            </label>
                                        </div>
                                        <div class="col-lg-4">
                                            {{'sincronizado' | translate}}
                                        </div>
                                        <div class="col-lg-2">
                                            <label style="color:red">
                                                <i class="material-icons">fiber_manual_record</i>
                                            </label>
                                        </div>
                                        <div class="col-lg-4">
                                            {{'noEnviado' | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    -->
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="button" class="btn btn-default" (click)="volver()">Volver</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>