<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header card-header-text" data-background-color="blue">
            <h4 class="card-title">{{titulo | translate}}</h4>
          </div>
          <div class="card-content">
            <form [formGroup]="reportesFormGroup" (ngSubmit)="buscar()" autocomplete="off">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group label-floating">
                    <label class="control-label">
                      {{'fechaDel' | translate}}<span class="star">*</span>
                    </label>
                    <input id="txtFechaReporteDel" type="text" name="txtFechaReporteDel"
                           formControlName="txtFechaReporteDel" class="form-control" datepicker/>
                  </div>
                  <div class="row" *ngIf="!reportesFormGroup.get('txtFechaReporteDel').valid && reportesFormGroup.get('txtFechaReporteDel').touched">
                    <div class="col-md-12">
                      <span *ngIf="reportesFormGroup.get('txtFechaReporteDel').hasError('required')"
                            class="text-danger">{{'campoRequerido' | translate}}
                      </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <span class="text-danger"
                        *ngIf="reportesFormGroup.errors && reportesFormGroup.errors.errorFecha">
                        {{reportesFormGroup.errors.errorFecha | translate}}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group label-floating">
                    <label class="control-label">
                      {{'fechaAl' | translate}}<span class="star">*</span>
                    </label>
                    <input id="txtFechaReporteAl" type="text" name="txtFechaReporteAl"
                           formControlName="txtFechaReporteAl" class="form-control" datepicker/>
                  </div>
                  <div class="row" *ngIf="!reportesFormGroup.get('txtFechaReporteAl').valid && reportesFormGroup.get('txtFechaReporteAl').touched">
                    <div class="col-md-12">
                      <span *ngIf="reportesFormGroup.get('txtFechaReporteAl').hasError('required')"
                            class="text-danger">{{'campoRequerido' | translate}}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group label-floating">
                    <label id="lblCodigo" class="control-label">
                      {{'empresa' | translate}}
                    </label>
                    <input  ng2-auto-complete
                            type="text"
                            id="txtEmpresa"
                            formControlName="txtEmpresa"
                            [source]="listarProductosDeAutcompletado.bind(this)"
                            [list-formatter]="formatoDeListaAutocompletado"
                            [value-formatter] = "formatoDeValorAutocompletado"
                            [no-match-found-text] = "'noSeEncontraronResultados' | translate"

                            open-on-focus = true
                            close-on-focus = true
                            auto-select-first-item = false
                            min-chars = 1
                            [loading-text] = "'cargando' | translate"

                            (valueChanged)="cambioLaSeleccionDeLaEmpresa($event)"
                            (change)="cambioLaBusquedaDeAutocompleteDeLaEmpresa()"
                            class="form-control">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group label-floating">
                    <label class="control-label">
                      {{'estados' | translate}}<span class="star">*</span>
                    </label>
                    <angular2-multiselect [data]="estados | async" [(ngModel)]="selectedItems"
                                          [settings]="dropDownConfiguracion"
                                          (onSelect)="seleccionaEstado($event, true)"
                                          (onDeSelect)="seleccionaEstado($event, false)"
                                          (onSelectAll)="seleccionaTodosEstados($event, true)"
                                          (onDeSelectAll)="seleccionaTodosEstados($event, false)"
                                          formControlName="cmbEstados"
                                          class="form-control">
                      <c-item>
                        <ng-template let-item="item">
                          <label style="color: #333;min-width: 150px;">{{item.descripcion}}</label>
                        </ng-template>
                      </c-item>
                    </angular2-multiselect>
                    <div class="row" *ngIf="!reportesFormGroup.get('cmbEstados').valid && reportesFormGroup.get('cmbEstados').touched">
                      <div class="col-md-12">
                        <span *ngIf="reportesFormGroup.get('cmbEstados').hasError('required')"
                              class="text-danger">{{'campoRequerido' | translate}}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row pull-right">
                <button id="btnVistaPrevia" type="submit" class="btn btn-default"
                        [disabled]="!(reportesFormGroup.valid)">
                  {{'buscar' | translate}}
                </button>
              </div>
              <div class="row">
                <div class="card">
                  <div class="card-header card-header-icon" data-background-color="blue">
                    <i class="material-icons">list</i>
                  </div>
                  <div class="row"><h3>{{'listaItems' | translate}}</h3></div>
                  <div class="row"><p>&nbsp;</p></div>
                  <nav class="navbar navbar-info" role="navigation"></nav>
                  <div class="card-content">
                    <div class="row">
                      <div class="col-md-12">
                        <app-data-table
                          #tablaReporteDocumentoPorEmisor
                          [idTabla]="'tablaReporteDocumentoPorEmisor'"
                          [columnas]="columnasTabla"
                          [ordenarPorElCampo]="ordenarPorElCampo"
                          [ordenarAscendente]="true"
                          [nombreIdDelItem]="nombreIdDelItem"

                          [usaServicio]="true"
                          [servicio]="_reportesService"
                          [parametros]="parametrosBusqueda"
                          [tipoAtributoServicio]="tipoMetodoReporteDocumentoEmisor"
                          [urlServicio]="urlReporteDocumentoEmisor"
                          [agregarEventoClick]="true"
                          [atributosConEvento]="atributosConEvento"
                          (eventoLanzado)="eventoLanzado($event)"

                          (iniciarData)="iniciarData($event)"
                          (accion)="ejecutarAccion($event)"
                        >
                        </app-data-table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
