
  <div class="container-fluid">
    <div class="row col-md-12">
      <div class="card">
        <div class="card-header card-header-text" data-background-color="blue">
          <h4 class="card-title">{{'detalleRetencionMasiva' | translate}}</h4>
        </div>
        <div class="card-content">
          <div class="row">
            <div class="col-md-4">
              <h6><b>{{'nombreArchivo' | translate}}:</b></h6>
            </div>
            <div class="col-md-8">
              {{nombreArchivo}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h6><p class="text-info"><b>{{'total' | translate}}: </b></p></h6>
            </div>
            <div class="col-md-8">
              {{totalRegistros}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h6><b><p class="text-danger"><b>{{'errores' | translate}}:</b></p></b></h6>
            </div>
            <div class="col-md-8">
              {{totalErrores}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-text"  data-background-color="blue">
                  <h4 class="card-title">{{'listaErrores' | translate}}</h4>
                </div>
                <div class="card-content">
                  <div class="row">
                    <div class="col-md-12">
                      <app-data-table #tablaDetalleMasiva
                                      [idTabla]="idTablaDetalleMasiva"
                                      [columnas]="columnasTabla"
                                      [ordenarPorElCampo]="ordenarPorElCampo"

                                      [usaServicio]="true"
                                      [servicio]="_archivosMasivaService"
                                      [parametros]="parametrosDetalleMasiva"
                                      [tipoAtributoServicio]="tipoMetodoMasiva"
                                      [urlServicio]="urlDetalleArchivoMasivaService"

                                      (iniciarData)="iniciarDataDetalleMasiva($event)">
                      </app-data-table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" align="right">
              <button type="submit" class="btn btn-default" (click)="regresar()"> {{'regresar' | translate}}  </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

