.input-group-addon {
  background: transparent;
  cursor: pointer;
}

.input-group-addon:hover {
  border-radius: 20px;
  background-color: #4a94c0;
}
.input-group-addon:active {
  border-radius: 20px;
  background-color: #eeeeee;
}
.text-danger{
  font-size: 11px;
  font-weight: 700;
}
.right{
  text-align: right;
}
div.form-group div.col-sm-3{
  padding-right: 8px;
  padding-left: 8px;
}
