<div class="card">
  <div class="card-content">
    <form [formGroup]="productFormGroup">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="form-group label-floating">
            <label class="control-label">{{'serie' | translate}}<span class="star">*</span></label>
            <select name="cmbserie" formControlName="cmbserie" class="form-control">
              <option *ngFor="let serie of series" [value]="serie.idSerie"> {{serie.serie}}</option>
            </select>
            <span *ngIf="!productFormGroup.get('cmbserie').valid && productFormGroup.get('cmbserie').touched">
              <span *ngIf="productFormGroup.controls['cmbserie'].hasError('required')" class="text-danger">{{'campoRequerido' | translate}}</span>
            </span>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="form-group label-floating">
            <label class="control-label">{{'fechaEmision' | translate}} <span class="star">*</span> </label>
            <input id="datefechapago" formControlName="datefechapago" type="text" class="form-control" autocomplete="off" datepicker/>
            <span *ngIf="!productFormGroup.get('datefechapago').valid && productFormGroup.get('datefechapago').touched">
              <span *ngIf="productFormGroup.controls['datefechapago'].hasError('required')" class="text-danger">{{'campoRequerido' | translate}}</span>
            </span>
            <span *ngIf="productFormGroup.controls['datefechapago'].hasError('errorFecha')" class="text-danger">{{productFormGroup.controls['datefechapago'].getError('errorFecha') | translate}}</span>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="form-group label-floating">
            <label class="control-label">{{'tipoMoneda' | translate}} <span class="star">*</span> </label>
            <input id="txttipomoneda" formControlName="txttipomoneda" class="form-control" autocomplete="off" type="text">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="form-group label-floating">
            <label class="control-label"> <i class="material-icons" style="font-size: 1.5rem;
                  margin-right: 0.5rem;">search</i> {{'ruc' | translate}} <span class="star">*</span></label>
            <input rucDirective id="txtruc" formControlName="txtruc" class="form-control" type="text" autocomplete="off"
                   (keyup)="busquedaruc($event)">
            <span *ngIf="!productFormGroup.get('txtruc').valid && productFormGroup.get('txtruc').touched">
              <span *ngIf="productFormGroup.controls['txtruc'].hasError('required')" class="text-danger">{{'campoRequerido' | translate}}</span>
            </span>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="form-group label-floating">
            <label class="control-label"> <i class="material-icons" style="font-size: 1.5rem;
                  margin-right: 0.5rem;">search</i>{{'razonSocial' | translate}}<span class="star">*</span></label>
            <input ng2-auto-complete
                   autocomplete="off"
                   #inputrazonsocial
                   type="text"
                   id="razonsocial"
                   formControlName="razonsocial"
                   [source]="listarOrganizacionesDeAutcompletado.bind(this)"
                   [list-formatter]="autocompleListFormatter"
                   [value-formatter]="autocompleListFormatter"
                   [loading-text]="'cargando' | translate"
                   [accept-user-input]="true"
                   (valueChanged)="busqueda()"
                   (change)="cambioAutocomplete()"
                   min-chars=1
                   [no-match-found-text]="'noSeEncontraronResultados' | translate"
                   class="form-control">
            <span
              *ngIf="!productFormGroup.get('razonsocial').valid && productFormGroup.get('razonsocial').touched">
                            <span *ngIf="productFormGroup.controls['razonsocial'].hasError('required')"
                                  class="text-danger">{{'campoRequerido' | translate}}</span>
                          </span>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="form-group label-floating">
            <label class="control-label">{{'txtcorreo' | translate}} <span class="star">*</span> </label>
            <input id="txtcorreo" formControlName="txtcorreo" class="form-control" autocomplete="off" type="email" (keyup)="actualizarCorreo($event)">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8">
          <div class="form-group label-floating">
            <label class="control-label">{{'txtdireccionfiscal' | translate}} <span class="star">*</span> </label>
            <input id="txtdireccionfiscal" formControlName="txtdireccionfiscal" autocomplete="off" class="form-control" type="text">
            <span *ngIf="!productFormGroup.get('txtdireccionfiscal').valid && productFormGroup.get('txtdireccionfiscal').touched">
              <span *ngIf="productFormGroup.controls['txtdireccionfiscal'].hasError('required')" class="text-danger">{{'campoRequerido' | translate}}</span>
            </span>
          </div>
        </div>
      </div>
    </form>

    <div class="card">
      <div class="card-header card-header-icon" data-background-color="blue">
        <i class="material-icons">list</i>
      </div>
      <div class="row"><h3>{{'listaItems' | translate}}</h3></div>
      <div class="row"><p>&nbsp;</p></div>
      <nav class="navbar navbar-info" role="navigation"></nav>
      <div class="card-content">
        <app-data-table (iniciarData)="iniciarData($event)"
                        (accion)="ejecutarAccion($event)"
                        (eliminar)="eliminar($event)"
                        (agregar)="agregarItem($event)"
                        #tablaNormal [idTabla]="'tabla1'"
                        [columnas]="columnasTabla"
                        [acciones]="AccionesPrueba"
                        [tipoAccion]="tipo"
                        [habilitarAcciones]="true"
                        [habilitarCheckBox]="true"
                        [habilitarAgregar]="true"
                        [ordenarPorElCampo]="ordenarPorElCampo"
                        [habilitarEliminar]="true"></app-data-table>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form [formGroup]="productFormGroup">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-9">&nbsp;</div>
                <div class="col-md-3">
                  <div class="form-group label-floating">
                    <label class="control-label">{{'total' | translate}}</label>
                    <input type="text" id="txttotal" formControlName="txttotal" class="form-control"  disabled>
                  </div>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
    <div class="row"><p> &nbsp;</p></div>
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="productFormGroup">
          <div class="label-floating">
            <label class="control-label">{{'observaciones' | translate}}</label>
            <input id="txtobservacion" formControlName="txtobservacion" class="form-control" type="text">
            <span
              *ngIf="!productFormGroup.get('txtobservacion').valid && productFormGroup.get('txtobservacion').touched">
                            <span *ngIf="productFormGroup.controls['txtobservacion'].hasError('maxLength')"
                                  class="text-danger">{{'maximoCaracteres' | translate: {digito: 500} }}</span>
                          </span>
          </div>
        </form>
      </div>
    </div>
    <div class="row"><p> &nbsp;</p></div>
    <div class="row">
      <div class="col-md-12" align="right">
        <button type="button" class="btn btn-default" (click)=" vistaprevia()"
                [disabled]="!productFormGroup.valid">{{'vistaPrevia' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>



