<form [formGroup]="notaDebitoNormalFormGroup" autocomplete="off">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group label-floating">
        <label id="lblMontoInteresPorMora" class="control-label">
          {{'montoInteresPorMora' | translate}}<span class="star">*</span>
        </label>
        <input class="form-control" id="txtMontoInteresPorMora" formControlName="txtMontoInteresPorMora" type="text" precioDirectiva>
        <div class="row" *ngIf="!notaDebitoNormalFormGroup.valid">
          <div class="col-md-12">
            <span class="text-danger"
                  *ngIf="notaDebitoNormalFormGroup.controls['txtMontoInteresPorMora'].hasError('min')">
                {{'debeSerMayorA' | translate: {digito: '0.00'} }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
