<div>
    <div>
        <div class="row col-md-12">
            <div class="card">
                <div class="card-header card-header-text" data-background-color="blue">
                    <h4 class="card-title">{{titulo | translate}}</h4>
                </div>
                <!-- <div class="card-content">
                    <form [formGroup]="documentoRelacionadoFormGroup" (ngSubmit)="editarItem()">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">{{'tipoComprobante' | translate}}</label>
                                    <select name="cmbComprobante" id="cmbComprobante" formControlName="cmbComprobante" class="form-control">
                                        <option *ngFor="let comprobante of dtoComprobantes" [value]="comprobante.id">
                                            {{comprobante.nombre}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">{{'serie' | translate}}</label>
                                    <input id="cmbSerie" name="cmbSerie" formControlName="cmbSerie" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">{{'numeroCorrelativo' | translate}}</label>
                                    <input id="txtNumeroCorrelativo" name="txtNumeroCorrelativo" formControlName="txtNumeroCorrelativo" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="estadoItem">
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">{{'importeTotal' | translate}}</label>
                                    <input id="txtImporteTotal" name="txtImporteTotal" formControlName="txtImporteTotal" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group label-floating">
                                    <label class="control-label required">{{'importeUsar' | translate}}</label>
                                    <input
                                            precioDirectiva
                                            id="txtImporteAUsar"
                                            name="txtImporteAUsar"
                                            formControlName="txtImporteAUsar"
                                            type="text"
                                            class="form-control"
                                            (keyup)="validarMontoImporte()"
                                            >

                                    <span *ngIf="!documentoRelacionadoFormGroup.get('txtImporteAUsar').valid && documentoRelacionadoFormGroup.get('txtImporteAUsar').touched">
                                        <span *ngIf="documentoRelacionadoFormGroup.get('txtImporteAUsar').errors['required']" class="text-danger">{{'importeUsarRequerido' | translate}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row pull-right">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <button
                                            type="button"
                                            name="btnLimpiar"
                                            class="btn blue"
                                            [disabled]="!documentoRelacionadoFormGroup.valid"
                                            (click)="limpiarFormulario()"
                                            >{{'limpiar' | translate}}</button>
                                    <button
                                            type="submit"
                                            name="btnAgregar"
                                            [disabled]="!flagComprobante"
                                            class="btn blue">{{'editar' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div> -->

                <!-- <button class="btn btn-primary btn-raised btn-round" (click)="openModalPrueba()">
                    Classic modal
                </button> -->

                <div class="col-md-12">
                    <div class="row"><p> &nbsp; </p></div>
                    <div class="card">
                        <div class="card-header card-header-icon" data-background-color="blue">
                            <i class="material-icons">list</i>
                        </div>
                        <div class="row"><h3>{{'listaComprobantes' | translate}}</h3></div>
                        <div class="row"><p> &nbsp; </p></div>
                        <nav class="navbar navbar-info" role="navigation"></nav>

                        <div class="row"><p> &nbsp; </p></div>

                        <app-data-table
                        (iniciarData)="iniciarData($event)"
                        (accion)="ejecutarAccion($event)"
                        (eliminar)="eliminar($event)"
                        #tablaDocumentoRelacionado
                        [idTabla]="'tablaDocumentoRelacionado'"
                        [habilitarAgregar]="false"
                        [columnas]="columnasTabla"
                        [acciones]="AccionesDocumentoRelacionado"
                        [tipoAccion]="tipoAccion"
                        [habilitarAcciones]="true"
                        [habilitarCheckBox]="true"
                        [habilitarEliminar]="true"
                        [habilitarBotonGenerico]="true"
                        [botonGenericoLabel]="labelBotonGenericoDataTable"
                        (generico)="eventoGenerico($event)"
                        [ordenarPorElCampo]="ordenarPorElCampoTipoComprobante"
                        >
                      </app-data-table>
                    </div>
                    <div class="row pull-right">
                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="button" name="btnRegresar" class="btn blue" (click)="regresar()">{{'regresar' | translate}}</button>
                                <button [disabled]="flagItems" type="button" name="btnEliminar" class="btn blue" (click)="guardar()">{{'guardar' | translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
