<div class="material-datatables table-responsive">
  <div class="dt-buttons pull-right">
    <!-- <div class="row"> -->
      <ng-container *ngIf="habilitarAgregar">
        <div class="col-md-6">
          <ng-container [ngSwitch]="tipoBotonAgregar">
            <ng-container *ngSwitchCase="TipoBotonAgregar.NORMAL">
              <button id="btnAgregar" class="btn btn-default" (click)="agregarItem()">{{'agregarItem' | translate}}</button>
            </ng-container>
            <ng-container *ngSwitchCase="TipoBotonAgregar.COMBO">
              <div class="row">
                <div class="dropdown">
                  <button id="btnAgregarItem" href="#" class="dropdown-toggle btn btn-default " data-toggle="dropdown" [disabled]="habilitarFuncionalidadAgregar">{{'agregarItem' | translate}}
                    <b class="caret"></b>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-left">
                    <!-- <li class="dropdown-header">{{'tiposItems' | translate}}</li> -->
                    <li *ngFor="let producto of tiposProductos">
                      <a (click)="ejecutarTipoSeleccionadoDeBotonAgregar(producto)">{{producto.nombre | translate}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </ng-container>

      <ng-container *ngIf="habilitarBotonGenerico">
      <div class="col-md-6">
        <button id="btnGenerico" class="btn btn-default" (click)="eventoBotonGenerico()" [disabled]="habilitarFuncionalidadGenerico">{{botonGenericoLabel}}</button>
      </div>
      </ng-container>

      <ng-container *ngIf="habilitarSeleccionar">
        <div class="col-md-6">
          <button id="btnSeleccionar" class="btn btn-default" (click)="seleccionarItems()" [disabled]="habilitarBotonSeleccionar()">{{'seleccionar' | translate}}</button>
        </div>
      </ng-container>

      <ng-container *ngIf="habilitarEliminar">
        <div class="col-md-6">
          <button id="btnEliminar" class="btn btn-default" (click)="eliminarItems()" [disabled]="habilitarBotonEliminar()">{{'eliminar' | translate}}</button>
        </div>
        <!-- <div class="col-md-offset-1"></div> -->
      </ng-container>


    <!-- </div> -->
  </div>
  <table datatable [id]="idTabla" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
    <thead>
      <tr>
        <th class="disabled-sorting text-right" *ngIf="habilitarCheckBox">
          <div class="checkbox text-right">
            <label><input id="checkboxSeleccionarTodos" type="checkbox" name="optionsCheckboxes" class="checkall" [(ngModel)]="checkTodos" (click)="seleccionarTodos()"></label>
          </div>
        </th>
        <th [ngStyle]="{'text-align': 'center'}">
          N°
        </th>
        <th *ngFor="let columna of columnas" [ngStyle]="columna.cabeceraEstilo">{{ columna.cabecera | translate }}</th>
        <th class="disabled-sorting" *ngIf="habilitarAcciones">{{'acciones' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of dataTemporal | async; let i = index;" [ngStyle]="obtenerEstiloFilaPintada(item)">
        <td class="text-right" *ngIf="habilitarCheckBox">
          <div class="checkbox text-right">
            <label>
              <input id="checkboxSeleccionarItem" type="checkbox" (click)="seleccionar(item)" [checked]="verificarSeleccion(item)">
            </label>
          </div>
        </td>
        <td [ngStyle]="{'text-align': 'center'}">
          <ng-container *ngIf="ordenarIndexAscendente; then indexAscendente else indexDescendente;"></ng-container>
          <ng-template #indexAscendente>
            {{paginacion.pagina.value*paginacion.tamanio.value+i+1}}
          </ng-template>
          <ng-template #indexDescendente>
            {{paginacion.totalItems.value-(paginacion.pagina.value*paginacion.tamanio.value+i)}}
          </ng-template>
        </td>
        <td *ngFor="let columna of columnas" [ngStyle]="columna.atributoEstilo">
          <ng-container *ngIf="esTipoDeAccionElAtributo(columna.atributo); then atributoAccion else atributoNormal;"></ng-container>
          <ng-template #atributoAccion>
            <button id="btnAccionesEnCabecera" type="button"
              *ngFor="let accion of obtenerTipoDeAccionDelAtributo();"
              [class]="'btn btn-sm btn-simple btn-icon '+accion.icono.clase" rel="tooltip"
              [title]="accion.nombre | translate"
              [disabled]="!habilitarAccionPorItem(item, accion)"
              (click)="ejecutarAccionCabecera(item,accion)">
            <i class="material-icons">{{accion.icono.nombre}}</i>
            </button>
          </ng-template>
          <ng-template #atributoNormal>
            <ng-container *ngIf="seDebeAgregarEvento(columna.atributo); then atributoConEvento else atributoSinEvento;"></ng-container>
            <ng-template #atributoConEvento>
              <a *ngFor="let itemValor of [ obtenerValorItem(item,columna.atributo) ]"
                 [ngClass]="comprobarTipoItemValor(itemValor) ? 'subrayado' : ''"
                 (click)="ejecutarAccionPorEvento(item, columna.atributo, comprobarTipoItemValor(itemValor))">
                {{itemValor}}
              </a>
            </ng-template>
            <ng-template #atributoSinEvento>
              {{obtenerValorItem(item,columna.atributo)}}
            </ng-template>
          </ng-template>
        </td>
        <td *ngIf="habilitarAcciones">
          <ng-container [ngSwitch]="tipoAccion">
            <ng-container *ngSwitchCase="ModoVistaAccion.ICONOS">
              <button id="btnAcciones" type="button"
                      *ngFor="let accion of acciones; let i = index;"
                      [class]="'btn btn-sm btn-simple btn-icon '+accion.icono.clase" rel="tooltip"
                      [title]="accion.nombre | translate"
                      (click)="ejecutarAccionButton(item,i)"
                      [disabled]="!habilitarAccionPorItem(item, accion)">
                <i class="material-icons">{{accion.icono.nombre}}</i>
              </button>
            </ng-container>
            <ng-container *ngSwitchCase="ModoVistaAccion.COMBO">
              <select id="comboOpciones" (change)="ejecutarAccionSelect(item,$event,$event)" placeholder="opciones">
                <option disabled>{{'opciones' | translate}}</option>
                <option *ngFor="let accion of acciones; let i = index;"  [value]="i" [disabled]="!habilitarAccionPorItem(item, accion)">{{accion.nombre | translate}}</option>
              </select>
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>
