<div class="card">
  <div class="card-content">
    <div class="row">
      <div class="col-md-8">
        <div class="col-md-1"></div>
        <div class="col-md-11">
          <div class="row"><label><h3><b>{{'instrucciones' | translate}}</b></h3></label></div>
          <div class="row">
            <label>{{'instruccionesRetencion' | translate}}</label>
          </div>
          <div class="row">
            <label><i class="material-icons" style="font-size: 10px">play_arrow</i>
              &nbsp; {{'regla1Retencion' | translate}}
            </label>
          </div>
          <div class="row">
            <label><i class="material-icons" style="font-size: 10px">play_arrow</i>
              &nbsp; {{'regla2Retencion' | translate}}
            </label>
          </div>
          <div class="row">
            <label><i class="material-icons" style="font-size: 10px">play_arrow</i>
              &nbsp; {{'regla3Retencion' | translate}}
            </label>
          </div>
          <div class="row">
            <label><i class="material-icons" style="font-size: 10px">play_arrow</i>
              &nbsp; {{'regla4Retencion' | translate}}
            </label>
          </div>
          <div class="row">
            <label><i class="material-icons" style="font-size: 10px">play_arrow</i>
              &nbsp; {{'regla5Retencion' | translate}}
            </label>
          </div>
          <div class="row">
            <label><i class="material-icons" style="font-size: 10px">play_arrow</i>
              &nbsp; {{'regla6Retencion' | translate}}
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row" style="text-align: center">
          <div class="center-block">
            <label><h3><b>{{'formato' | translate}}</b></h3></label>
          </div>
        </div>
        <div class="row" style="text-align: center">
          <div class="center-block">
            <button class="btn btn-default btn-simple" title="{{'descargarFormatoArchivo' | translate}}"
                    (click)="descargarFormatoMasiva()"><i class="material-icons"
                                                          style="font-size: 75px">file_download</i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-11">
        <div class="row">
          <div class="col-md-3"><label><h4><b>{{'seleccioneArchivo' | translate}}</b></h4></label></div>
          <form [formGroup]="archivoFormGroup">
            <div class="fileinput fileinput-new text-center">
              <div class="row">
                <div>
                  <span class="btn btn-file btn-default blue">
                      <span class="fileinput-new">{{'seleccioneArchivo' | translate}}</span>
                      <span class="fileinput-exists">{{'cambiar' | translate}}</span>
                      <input type="file"
                             archivoDirectiva
                             formControlName="archivo"
                             (change)="cambioArchivo($event)"
                             #inputArchivo
                      />
                  </span>
                  <a class="btn btn-danger" *ngIf="(archivoSeleccionado | async)"
                     (click)="clickEliminarArchivo()"><i
                    class="fa fa-times"></i> {{'eliminar' | translate}}</a>
                </div>
                <div class="fileinput-preview" *ngIf="(archivoSeleccionado | async)">
                  {{(archivoSeleccionado | async)[0].name}}
                </div>
                <div class="fileinput-new" *ngIf="!(archivoSeleccionado | async)">
                  <label> &nbsp; {{'ningunArchivoSeleccionado' | translate}}</label>
                </div>
              </div>
              <div class="row" *ngIf="!archivoFormGroup.controls['archivo'].valid">
                <span style="color: red" *ngIf="archivoFormGroup.controls['archivo'].errors">
                  <strong *ngIf="archivoFormGroup.controls['archivo'].errors.tipo">
                    {{archivoFormGroup.controls['archivo'].errors.tipo | translate}}
                  </strong>
                  <br>
                  <strong *ngIf="archivoFormGroup.controls['archivo'].errors.tamanio">
                    {{archivoFormGroup.controls['archivo'].errors.tamanio | translate}}
                  </strong>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" align="right">
        <button type="submit" class="btn btn-default" (click)="cargarmasiva()"
                [disabled]="!archivoFormGroup.controls['archivo'].valid">
          {{'cargar' | translate}}
        </button>
      </div>
    </div>
    <div class="row">
      <div class="card">
        <div class="card-header card-header-icon" data-background-color="blue">
          <i class="material-icons">list</i>
        </div>
        <div class="row"><h3>{{'listaArchivos' | translate}}</h3></div>
        <div class="row"><p>&nbsp;</p></div>
        <nav class="navbar navbar-info" role="navigation"></nav>
        <div class="card-content">
          <app-data-table #tablamasiva
                          [idTabla]="'tablaMasiva'"
                          [columnas]="columnasTabla"
                          [ordenarPorElCampo]="ordenarPorElCampoMasiva"

                          [usaServicio]="true"
                          [servicio]="_archivoMasivaService"
                          [parametros]="parametrosMasiva"
                          [tipoAtributoServicio]="tipoMetodoMasiva"
                          [urlServicio]="urlArchivoMasivaService"

                          [acciones]="AccionesMasiva"
                          [tipoAccion]="tipomasiva"
                          [habilitarAcciones]="true"
                          (iniciarData)="iniciarDataMasiva($event)"
                          (accion)="ejecutarAccionMasiva($event)">
          </app-data-table>
        </div>
      </div>
    </div>
  </div>
</div>
