
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header card-header-text" data-background-color="blue">
        <h4 class="card-title">{{titulo | translate}}</h4>
      </div>
      <div class="card-content">
        <form [formGroup]="consultaFormGroup" (ngSubmit)="buscar()" autocomplete="off">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group label-floating">
                <label id="lblCodigo" class="control-label">
                  {{'codigo' | translate}}
                </label>
                <input  type="text"
                        id="txtCodigo"
                        formControlName="txtCodigo"
                        class="form-control">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group label-floating">
                <label id="lblDescripcion" class="control-label">
                  {{'descripcion' | translate}}
                </label>
                <input  type="text"
                        id="txtDescripcion"
                        formControlName="txtDescripcion"
                        class="form-control">
              </div>
            </div>
          </div>
          <div class="row pull-right">
            <button id="btnLimpiar" type="button" class="btn btn-default" (click)="limpiar()">
              {{'limpiar' | translate}}
            </button>
            <button id="btnBuscar" type="submit" class="btn btn-default"
                    [disabled]="!(consultaFormGroup.valid && verificarForm())">
              {{'buscar' | translate}}
            </button>
          </div>
          <div class="row">
            <div class="card">
              <div class="card-header card-header-icon" data-background-color="blue">
                <i class="material-icons">list</i>
              </div>
              <div class="row"><h3>{{'listaItems' | translate}}</h3></div>
              <div class="row"><p>&nbsp;</p></div>
              <nav class="navbar navbar-info" role="navigation"></nav>
              <div class="card-content">
                <div class="row">
                  <div class="col-md-12">
                    <app-data-table
                      #tablaConsultaProductos
                      [idTabla]="'tablaReporteDocumentoPorEmisor'"
                      [columnas]="columnasTabla"
                      [ordenarPorElCampo]="ordenarPorElCampo"
                      [ordenarAscendente]="true"
                      [nombreIdDelItem]="nombreIdDelItem"

                      [usaServicio]="true"
                      [servicio]="_productosService"
                      [tipoAtributoServicio]="atributoServicio"
                      [parametros]="parametrosBusqueda"

                      [habilitarAcciones]="true"
                      [acciones]="acciones"

                      [habilitarEliminar]="true"
                      [habilitarCheckBox]="true"

                      (iniciarData)="iniciarData($event)"
                      (accion)="ejecutarAccion($event)"
                      (eliminar)="eliminarAccion($event)"
                    >
                    </app-data-table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
