input.ng-invalid.ng-touched,
mat-select.ng-invalid.ng-touched{
  border-bottom: 1px solid red;
}
mat-select{
  border-bottom: 1px solid #AAAAAA;
}

.control-label {
  display: flex;.
  align-items: center;
}

.text-danger{
  font-size: 11px;
  font-weight: 700;
}
.navbar.navbar-info {
  margin: 0px 15px 15px 15px;
}
.btn.btn-default.btn-simple{
  color: #0079BF;
}

a {
  cursor: pointer;
  color: #0976b4;
  text-decoration: underline;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
