<div class="logo">
    <div class="logo-normal">
        <a class="simple-text" style="height: 45px;color:#1f246a !important">
            <!--<img src="assets/img/b2mining.png"/>-->
            <div style="  width: 180px;  
    height: 35px;
    overflow: hidden;
    border-radius: 5px;
        background-color: #FFFFFF;
    position: absolute;
    left: 70px;
    z-index: 5;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
   ">
                <img style="height:35px" src="{{usuarioActual.org_url_image}}" *ngIf="usuarioActual.org_url_image!=null"
                /> &nbsp;{{usuarioActual.org_url_image != null ? "" : usuarioActual.isopais_org + usuarioActual.ruc_org}}
            </div>

        </a>
    </div>
    <div class="logo-img">
        <img src="assets/img/b2mining-ico.png" />
    </div>
</div>

<div class="sidebar-wrapper">
    <div class="user">
        <div class="photo">
            <img src="{{usuarioActual.url_image}}" *ngIf="usuarioActual.url_image!=null" />
        </div>
        <div class="info">
            <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                <span>
                    {{ usuarioActual.nombrecompleto}}
                    <!--<b class="caret"></b>-->
                </span>
            </a>
            <!--
            <div class="collapse" id="collapseExample">
                <ul class="nav">
                    <li>
                        <a [routerLink]="['/ordencompra/refrescar']">
                            <span class="sidebar-mini">R</span>
                            <span class="sidebar-normal">Refrescar</span>
                        </a>
                    </li>
                </ul>
            </div>
            -->
        </div>
    </div>
    <div *ngIf="isNotMobileMenu()">
        <!--
        <form class="navbar-form navbar-right" role="search">
            <div class="form-group form-search is-empty">
                <input class="form-control" placeholder="Search" type="text">
                <span class="material-input"></span>
                <span class="material-input"></span>
            </div>
            <button class="btn btn-white btn-round btn-just-icon" type="submit">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
        </form>
        -->
        <ul class="nav nav-mobile-menu">
            <!--
            <li class="">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#pablo" aria-expanded="false">
                            <i class="material-icons">dashboard</i>
                            <p class="hidden-lg hidden-md">Dashboard</p>
                        <div class="ripple-container"></div></a>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                            <i class="material-icons">notifications</i>
                            <span class="notification">5</span>
                            <p class="hidden-lg hidden-md">
                                Notifications
                                <b class="caret"></b>
                            </p>
                        <div class="ripple-container"></div></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href='javascript:window.open("./assets/chat/popup_chat.html","Link","titlebar=no,directories=no,status=no,menubar=no,toolbar=no,resizable=1,scrollbars=no,width=700,height=400,left=80,top=180");'>Chat con e-BIZ</a>
                    </li>
                    <li>
                        <a href="#">You have 5 new tasks</a>
                    </li>
                    <li>
                        <a href="#">You're now friend with Andrew</a>
                    </li>
                    <li>
                        <a href="#">Another Notification</a>
                    </li>
                    <li>
                        <a href="#">Another One</a>
                    </li>
                </ul>
            </li>

            -->

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="material-icons">person</i>
                    <span class="notification"></span>
                    <p class="hidden-lg hidden-md">Perfil
                        <b class="caret"></b>
                    </p>
                    <div class="ripple-container"></div>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href='javascript:window.open("./assets/chat/popup_chat.html","Link","titlebar=no,directories=no,status=no,menubar=no,toolbar=no,resizable=1,scrollbars=no,width=700,height=400,left=80,top=180");'>
                            Chat con e-BIZ
                        </a>
                    </li>
                    <li routerLinkActive="active" *ngIf="PermitirCambiarOrganizacion">
                        <a (click)="cambiarOrganizacion($event)">
                                Cambiar Organización
                            </a>
                    </li>
                    <li>
                        <a (click)="logout($event)">
                            Cerrar Sesión
                        </a>
                    </li>

                </ul>
            </li>
            <li class="separator hidden-lg hidden-md"></li>
        </ul>
    </div>

    <div class="nav-container">
        <ul class="nav">
            <li routerLinkActive="active" *ngFor="let item of menuLateral; let i = index">
                <a data-toggle="collapse" href="#moduloMenu{{i}}">
                    <i class="material-icons">{{item.icon}}</i>
                    <p>{{item.title}}
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="moduloMenu{{i}}">
                    <ul class="nav">
                        <li routerLinkActive="active" *ngFor="let subitem of item.modulos">
                            <a [routerLink]="[subitem.moduloUri]">
                                <span class="sidebar-mini">{{subitem.mini}}</span>
                                <span class="sidebar-normal">{{subitem.moduloDesc}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
